@use "sass:meta";
@use "sass:list";

@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
}

@mixin flexCol {
  display: flex;
  flex-flow: column nowrap;
}

@mixin size($width, $height: null) {
  width: $width;
  inline-size: $width;
  height: $height;
  block-size: $height;
}

@mixin a11yHidden($focusable: false) {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  @include size(1px, 1px);
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;

  @if $focusable {
    &:focus {
      overflow: initial;
      position: initial;
      clip: initial;
      clip-path: initial;
      @include size(initial);
      margin: initial;
      white-space: initial;
    }
  }
}

// padding 관련 믹스인

@mixin padding-inline-start($value) {
  padding-left: $value;
  padding-inline-start: $value;
}
@mixin padding-inline-end($value) {
  padding-right: $value;
  padding-inline-end: $value;
}
@mixin padding-block-start($value) {
  padding-top: $value;
  padding-block-start: $value;
}
@mixin padding-block-end($value) {
  padding-bottom: $value;
  padding-block-end: $value;
}

@mixin paddingX($value) {
  @include padding-inline-start($value);
  @include padding-inline-end($value);
}
@mixin paddingY($value) {
  @include padding-block-start($value);
  @include padding-block-end($value);
}

@mixin padding($value) {
  @include paddingX($value);
  @include paddingY($value);
}

// 옵션 인자 'null'이 있는 속성은 필수가 아님.
$position-values: static relative absolute fixed sticky;

@mixin position($type, $args...) {
  @each $key in $position-values {
    @if not list.index($position-values, $type) {
      @error '#{$type}은 유효한 position 값이 아닙니다. (예: static relative absolute fixed sticky)';
    }
  }

  position: $type;

  @if $type == sticky {
    @supports not (position: sticky) {
      position: fixed;
    }
  }

  @each $name, $value in meta.keywords($args) {
    #{$name}: $value;
  }
}

// 콘텐츠 블록
$breakpoint: 768px;

// _mixins.scss 파일에 믹스인 작성
@mixin sm {
  @media (max-width: $breakpoint) {
    @content;
  }
}
@mixin lg {
  @media (min-width: $breakpoint) {
    @content;
  }
}

.container {
  @include a11yHidden(true);
  // 키워드 인자 방식
  // @include position(absolute, $zIndex: 10);
}

.notification {
  @include position(sticky, $z-index: 100, $top: 20px, $left: 0, $right: 0);
}

.box {
  // @media (max-width: 768px){
  //   background: yellow;
  // }
  // @media (min-width: 768px){
  //   background: pink;
  // }
  // 위에 있는 미디어 쿼리를 아래와 같이 단축해서 사용할 수 있다.
  @include sm {
    background: yellow;
  }
  @include lg {
    background: pink;
  }
}
