@use "sass:math";

// μ—°μ‚°μ
$operator1: 9s + 21s; // 30s
$operator2: 1cm - 11cm; // -10cm
$operator3-1: 9px * 2px; // 18px*px π¨
$operator3-2: math.div(8px, 1px); //
$operator4: 101px % 8px; // 5px
// λ‚λ„κΈ° ν•¨μ CSSμ—μ„ '/' κΈ°νΈλ” κµ¬λ¶„ κΈ°νΈλ΅ μ‚¬μ©λλ―€λ΅  math.div() ν•¨μλ¥Ό μ‚¬μ©ν•΄μ•Ό ν•λ‹¤.
$operator5-2: math.div(100px, 20px); // 5px

.box1 {
  font-size: $operator5-2;
}

// λ‹¨μ„ μ¶”κ°€
box2 {
  // numbering λ°©μ‹
  padding: $operator3-2 * 1px;
  // '#{ }' μΈν„°ν΄λ μ΄μ… λ°©μ‹(λ³΄κ°„λ²•) -> ν•΄λ‹Ή λ°©μ‹μ„ κ¶μ¥ ν•λ‹¤.
  margin: #{$operator3-2}px;
}

// μ«μ μ—°μ‚°μ
@debug 9s + 21s; // 30s
@debug 1cm - 11cm; // -10cm
@debug 101px % 8px; // 5px
@debug 9px * 2px; // 18px*px π¨ λ‹¨μ„λ¥Ό λ°λ³µν•΄μ„ λ„£μΌλ©΄ μ΄λ ‡κ² λ¨
@debug calc(9px * 2); // 18px μ΄λ ‡κ² calcλ¥Ό μ‚¬μ©ν•΄μ•Ό ν•λ‹¤.

// λ‚λ—μ…
@debug math.div(90, 3); // 30

// λ¦¬μ¤νΈ λΉ„κµ
@debug (5px 7px 10px) != (5px, 7px, 10px);
